#number {
    background-color: white !important;
    color: #6c757d !important;
}

::placeholder {
    color:#6c757d!important;
}

#res {
    width: 100%;
    min-height: 70px;
    border: 5px solid black;
    overflow-x: scroll;
    padding: 10px 10px;
}