.container {
    background-color: bisque;
    width: 80%;
    min-height: 700px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid gray;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #bd4d3d;
    font-size: 3.5rem;
}

.resault {
    width: 60%;
    min-height: 70px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 2px solid salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

h3 {
    margin: 0;
}

#generate {
    width: 100px;
    height: 40px;
    border-color: black;
    background-color: #28a745;
}

body {
    background-color: whitesmoke;
}

#clear {
    width: 80px;
    height: 40px;
    border-color: black;
    background-color: #dc3545;
    margin-top: 30px;
}

input {
    width: 100px;
    height: 33px;
}

p {
    color: royalblue;
    margin-left: 60px;
    margin-right: 60px;
}